<section class="flex flex-col min-h-screen text-white bg-white bg-cover bg-blend-overlay bg-fixed" style="background-image: url()">
    <!-- Navbar -->
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8 bg-gray-50" aria-label="Global">
          <div class="flex lg:flex-1">
            <a routerLink="/home" class="-m-1.5 p-1.5">
              <span class="sr-only">FitSocial</span>
              <img class="h-8 w-auto" src="https://us.zwift.com/cdn/shop/files/zwf_icon_rgb_og_1200x.png?v=1648572513" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <!-- <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a> -->
            <a href="#" class="text-sm font-semibold leading-6 text-black">PLANES</a>
            <a routerLink="/training" class="text-sm font-semibold leading-6 text-black">ENTRENAMIENTOS</a>
            <a routerLink="/profile" class="text-sm font-semibold leading-6 text-black">CUENTA</a>
          </div>
          <!-- User Card -->
          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <div class="relative group">
              <button class="flex items-center space-x-2 text-black">
                  <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Imagen de Usuario" class="w-6 h-6 rounded-full">
                  <span class="hidden md:block">{{ userEmail }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current group-hover:text-gray-400 transition duration-300 transform group-hover:rotate-180" viewBox="0 0 20 20">
                      <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
                  </svg>
              </button>
              <div class="hidden group-hover:block absolute right-0 mt-2 w-36 bg-white border border-gray-200 rounded-lg shadow-lg">
                <ul class="py-2">
                  <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Perfil</a></li>
                  <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Configuración</a></li>
                  <li><a href="#" class="block px-4 py-2 text-red-500 hover:bg-gray-100">Cerrar Sesión</a></li>
                </ul>
              </div>
            </div>
          
            <button class="text-black">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">FitSocial</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
              <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Planes</a>
                  <a routerLink="/training" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Entrenamientos</a>
                  <a routerLink="/profile" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cuenta</a>
                </div>
                <div class="py-6">
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>
    <!-- Hero Section Content -->
    <div class="space-y-4 xl:space-y-4 container flex flex-col mt-24 mb-10 flex-1 mx-auto">
        <div class=" items-start mt-10 mb-5">
            <!-- Breadcrumbs -->
            <nav class="bg-white py-2">
                <div class="container mx-auto">
                  <ol class="list-reset flex text-gray-600">
                    <li><a href="#" class="text-blue-600">Home</a></li>
                    <!-- <li class="mx-2">/</li> -->
                    <!-- <li><a href="#" class="text-blue-600">Sección 1</a></li> -->
                    <li class="mx-2">/</li>
                    <li>Entrenamientos</li>
                  </ol>
                </div>
            </nav>
            <div class="flex">
                <h1 class="text-black text-start text-5xl font-bold flex-auto">Mis Entrenamientos.</h1>
                <button class="p-3 rounded-xl bg-orange-500 hover:bg-orange-600 text-white" routerLink="/communities">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 00-1.032-.211 50.89 50.89 0 00-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 002.433 3.984L7.28 21.53A.75.75 0 016 21v-4.03a48.527 48.527 0 01-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979z" />
                        <path d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 001.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0015.75 7.5z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex flex-row text-black rounded-xl gap-10" *ngIf="trainingData && trainingData.length > 0">
            <div class="basis-1/4 bg-gray-50 p-6 rounded-xl" *ngFor="let training of trainingData">
                <h2 class="text-2xl font-bold">Mis Rutinas</h2>
                <div class="mt-2 mb-10">
                    Training {{ training.id }}
                    <div class="bg-gray-200 h-2 w-full rounded-full mt-1">
                      <div class="" *ngIf="!exerciseCompleted">
                        <div class="bg-orange-500 h-2 w-0 rounded-full"></div>
                        <label class="text-sm text-gray-500">0%</label>
                      </div>
                      <div class="" *ngIf="exerciseCompleted">
                        <div class="bg-orange-500 h-2 w-2/2 rounded-full"></div>
                        <label class="text-sm text-gray-500">100%</label>
                      </div>
                    </div>
                </div>
                <h1 class="font-bold text-2xl mb-2">Informacion:</h1>
                <div class="" *ngFor="let exercise of training.exercises; let i = index">
                  <!-- Añade la condición para mostrar solo los 5 primeros -->
                  <div *ngIf="i < 5" class="rounded-lg py-2 px-4 flex items-center space-x-4">
                      <img [src]="exercise.exercise_Image ? exercise.exercise_Image : exercise.exercise_Image1" alt="Foto de perfil" class="rounded-full h-12 w-12">
                      <div>
                          <h2 class="text-lg font-semibold">{{ exercise.exercise_Name }}</h2>
                          <div class="flex">
                            <p class="font-medium mr-2 text-gray-500">Equipment: </p>
                            <label class="text-gray-500 mr-2">{{ exercise.equipment }}</label>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-orange-500 mr-1">
                              <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
                            </svg>
                            <label class="text-gray-500">{{ exercise.rating }}</label>
                            
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="basis-1/2 bg-gray-50 p-8 rounded-xl">
                <!-- Title & Buttons Container -->
                <div class="flex gap-2" *ngIf="trainingData">
                    <h2 class="text-3xl font-bold flex-auto">Entrenamientos</h2>
                    <button class="py-2 px-2 rounded-xl bg-orange-500 hover:bg-orange-600 text-white" routerLink="/searchtraining">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                        <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                      </svg>
                    </button>
                    <button class="py-2 px-2 rounded-xl bg-orange-500 hover:bg-orange-600 text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" (click)="toggleModal()">
                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                        <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                      </svg>
                    </button>
                </div>
                <!-- Ejercicios -->
                <div class="flex flex-col mt-3 text-lg" *ngIf="trainingData && trainingData.length > 0">
                  <div *ngFor="let training of trainingData">
                      <div class="rounded-lg py-2 px-4 mb-4">
                          <h3 class="text-lg font-bold">Training {{ training.id }}</h3>
                          <p class="font-bold">Reps & Weight: 
                            <span class="font-normal flex">{{ training.reps }} X {{ training.weight }} kg
                            </span>
                          </p>
                          <p class="font-bold text-xl">Rutina:</p>
                          <ul class="flex gap-10 mt-3">
                              <li *ngFor="let exercise of training.exercises">
                                <img [src]="exercise.exercise_Image ? exercise.exercise_Image : exercise.exercise_Image1" alt="Foto de perfil" class="rounded-full h-12 w-12">
                                <div>
                                    <h2 class="text-lg font-semibold">{{ exercise.exercise_Name }}</h2> 
                                    <label class="text-gray-500">{{ exercise.muscle_gp }}</label>
                                    <div class="flex bg-green-100 p-2 rounded-xl" *ngIf="exerciseCompleted">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-green-600">
                                        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                      </svg> 
                                      <p class="font-bold text-green-600 text-sm m-1">Completado</p>
                                    </div>
                                </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
                <!-- Mensaje de "No hay ejercicios seleccionados" -->
                <div *ngIf="!trainingData || trainingData.length === 0" class="mt-3 text-xl text-gray-700 text-center font-bold">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-24 h-24 mx-auto mt-20">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                  </svg>
                  <p>PARECE QUE NO HAY EJERCICIOS SELECCIONADOS...</p>
                </div>
                <div class="flex mt-10">
                    <button class="w-full font-bold text-xl py-5 rounded-xl bg-orange-500 hover:bg-orange-600 text-white" routerLink="/searchtraining">
                        NUEVO ENTRENAMIENTO
                    </button>
                </div>
            </div>
            <!-- Ejercicios View -->
            <div class="basis-1/4 bg-gray-50 p-6 rounded-xl">
              <div class="flex">
                <h2 class="text-2xl font-bold mb-3 flex-auto">Ejercicios</h2>
                <button class="py-2 px-2 rounded-xl bg-orange-500 hover:bg-orange-600 text-white" (click)="indexReturn()">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7">
                      <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                      <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
              <div class="" *ngFor="let exercise of dataExercises; let i = index">
                  <!-- Añade la condición para mostrar solo los 5 primeros -->
                  <div *ngIf="i < 5" class="rounded-lg py-2 px-4 flex items-center space-x-4">
                      <img [src]="exercise.exercise_Image ? exercise.exercise_Image : exercise.exercise_Image1" alt="Foto de perfil" class="rounded-full h-12 w-12">
                      <div>
                          <h2 class="text-lg font-semibold">{{ exercise.exercise_Name }}</h2>
                          <label class="text-gray-500">{{ exercise.muscle_gp }}</label>
                      </div>
                  </div>
              </div>
            </div>
          
        </div>
        <div class="fixed bottom-5 right-0 m-4 bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-lg" role="alert" *ngIf="deleteSuccess">
          <p class="font-bold">Entrenamiento Eliminado.</p>
          <p>Tu entrenamiento se ha eliminado...</p>
        </div>
    </div>
</section>

<!-- Modal -->
<div *ngIf="isOpen" class="modal">
  <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    
      <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-3xl">
            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
              <div class="flex flex-col mt-3 text-lg" *ngIf="trainingData && trainingData.length > 0">
                <div *ngFor="let training of trainingData">
                    <div class="rounded-lg py-2 px-4 mb-4">
                        <h3 class="text-3xl font-bold mb-3">Training {{ training.id }}</h3>
                        <p class="font-bold text-xl">Reps & Weight: 
                          <span class="font-normal flex">{{ training.reps }} X {{ training.weight }} kg.
                          </span>
                        </p>
                        <p class="font-bold text-xl">Rutina:</p>
                        <ul class="flex gap-5 mt-3">
                            <li *ngFor="let exercise of training.exercises">
                              <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-200 dark:border-gray-300 dark:text-black">
                                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-300 p-4">
                                    <img [src]="exercise.exercise_Image ? exercise.exercise_Image : exercise.exercise_Image1" alt="Foto de perfil" class="rounded-full h-12 w-12">
                                    <div>
                                        <h2 class="text-lg font-semibold">{{ exercise.exercise_Name }}</h2>
                                        <label class="text-gray-500">{{ exercise.muscle_gp }}</label>
                                    </div>
                                    <div class="flex items-center ps-3">
                                      <input
                                        id=""
                                        type="checkbox"
                                        value=""
                                        (change)="onExerciseCompletionChange(training, exercise)"
                                        class="w-4 h-4 text-orange-600 bg-gray-50 border-gray-300 rounded"
                                      />
                                      <label for="" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-500">Completado</label>
                                    </div>
                                </li>
                              </ul>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
              <button type="button" class="inline-flex w-full justify-center rounded-md bg-orange-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 sm:ml-3 sm:w-auto" (click)="completarRutina()">Accept</button>
              <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" (click)="toggleModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

<div class="fixed bottom-5 right-0 m-4 bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-lg" role="alert" *ngIf="completeTraining">
  <p class="font-bold">Entrenamiento Actualizado</p>
  <p>Tu entrenamiento se ha actualizado con éxito. ¡Felicidades!</p>
</div>